html { 
  height:100%;
}
body { 
  min-height:100%;
}

.home {
  padding-top: 10px;
}

.result-img {
	margin-right: 20px;
	height: 50px;
	margin-left: 10px;
}

.results-text {
	margin: auto 0;
}

.result {
	padding: 10px 0px;
	border-bottom: 1px solid #000;
  display: flex;
}

#results {
	height: auto;
	background-color: grey;
  margin-top: 50px;
}

#queue-item {
	height: auto;
	background-color: white;
  margin-top: 50px;
}

.search-side {
  height: calc(100vh - 70px - 56px - 10px);
  overflow-y: scroll
}

#playing-bar {
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: black;
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 10;
}

#playing-img {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

.playing-info {
  margin-left: 10px;
  color: white;
}

.playing-info p {
  margin-bottom: -2px;
}
