.home {
	padding-top: 50px;
}

.result-img {
	margin-right: 20px;
	height: 50px;
	margin-left: 10px;
}

.results-text {
	margin: auto 0;
}

.result {
	padding: 10px 0px;
	border-bottom: 1px solid #000;
	display: flex;
}

#results {
	height: auto;
	background-color: grey;
	margin-top: 50px;
}
