<html></<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Qzik</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Qzik</span>
</nav>
<div id='playing-bar'>
  <img id='playing-img' src='https://about.canva.com/wp-content/uploads/sites/3/2015/01/album-cover.png'/>
  <div class='playing-info'>
    <p id='playing-name'>Cool Song</p>
    <p id='playing-artist'>Artist Name</p>
  </div>
</div>
<div class="container home">
  <p id='roomName'></p>
  <form id="join-form">

    <h1>Join A Room</h1>
    <hr>

    <label for="email"><b>Room</b></label>
    <input id="roomId" type="text" placeholder="Room Name..." name="roomId" required>
    <hr>
    <button type="submit" class="joinBtn">Join this Room</button>
  </form>

  <form id="search-form">

    <h1>Search</h1>
    <hr>

    <label for="email"><b>Song Name</b></label>
    <input id="searchtext" type="text" placeholder="Enter a song..." name="search" required>
    <hr>
    <button type="submit" class="registerbtn">Search</button>
  </form>
  <button id="skip-button">Skip Song</button>
  <ul class="list-unstyled">
    <div id="results">
    </div>
  </ul>
</div>
</body>
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script>
$('#join-form').submit(e => {
  e.preventDefault();
  const room = $('#roomId').val();
  console.log(room);
  $.ajax({
    url: `/room/${room}`,
    type: 'GET',
    dataType: 'json',
    success: data => {
      console.log(data);
      $('#roomName').html(`Welcome to ${data.id}`)
    },
    error: function(request, error) {
      console.log(error);
    }
  });
});
$('#search-form').submit(e => {
	e.preventDefault();
	const query = $('#searchtext').val();

	$.ajax({
		url: '/search',
		type: 'POST',
		data: {
			querytext: query
		},
		dataType: 'json',
		success: data => {
			const results = $('#results');
			results.empty();
			data.map((item, index) => {
				const imgurl = item.album.images[1].url;
				const result = $(
					`<li class="result"><img class="result-img" src="${imgurl}"><p class="results-text">${
						item.name
					}</p></li>`
				).data('song', item);
				results.append(result);
			});
		},
		error: function(request, error) {
			console.log(error);
		}
	});
});

$(document).ready(() => {
  const socket = io();
  socket.connect('yo');

  socket.on('connected', () => {
    console.log('connected');
  })

  socket.on('playing', function(msg){
    console.log(msg.song.album.images[1].url);
    $('#playing-img').attr('src', msg.song.album.images[1].url)
    $('#playing-name').html(msg.song.name)
    $('#playing-artist').html(msg.song.artists[0].name)
  });


	$('#skip-button').click(() => {
		console.log('skipped');
    socket.emit('skipped', 'song')
		$.ajax({
			url: '/player/skip',
			type: 'GET',
      room: roomName
		});
	});
	$(document).on('click', 'li.result', function() {
		const item = $(this).data();

    console.log(item);

		$.ajax({
			url: '/player/play',
			type: 'POST',
			data: item,
			dataType: 'json'
		});
	});
});


</script>
</html>
