<html></<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Spotify Queue</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <form id="search-form">

      <h1>Search</h1>
      <hr>

      <label for="email"><b>Song Name</b></label>
      <input id="searchtext" type="text" placeholder="Enter a song..." name="search" required>
      <hr>
      <button type="submit" class="registerbtn">Search</button>
    </form>
    <button id="skip-button">Skip Song</button>
    <ul class="list-unstyled">
      <div id="results">
      </div>
    </ul>
  </div>
</body>
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script>
$('#search-form').submit(e => {
	e.preventDefault();
	const query = $('#searchtext').val();

	$.ajax({
		url: '/search',
		type: 'POST',
		data: {
			querytext: query
		},
		dataType: 'json',
		success: data => {
			console.log(data);
			const results = $('#results');
			results.empty();
			data.map((item, index) => {
				const imgurl = item.album.images[1].url;
				results.append(
					`<li class="result"><img class="result-img" src="${imgurl}">${
						item.name
					}</li>`
				);
			});
		},
		error: function(request, error) {
			console.log(error);
		}
	});
});

$(document).ready(() => {
	$('#skip-button').click(() => {
		$.ajax({
			url: '/player/skip',
			type: 'GET'
		});
	});
	$(document).on('click', 'li.result', function() {
		const item = $(this).data();

		$.ajax({
			url: '/player/play',
			type: 'POST',
			data: item,
			dataType: 'json'
		});
	});
});
</script>
</html>
